.user-area {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 24px;
  width: fit-content;
  background-color: #D3ECF9;
  padding: 56px;
  border-radius: 12px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);

  &__patient {
    background-color: #d4f9d3;

  }

  &__name {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 10px;
  }

  &__prim-info {
    margin-bottom: 10px;
    padding: 6px 6px 6px 0;
  }

  &__sec-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 22px;
    .label {
      font-size: 16px;
      font-weight: 500;
    }
  }

  button {
    margin-top: 20px
  }
}

.info-label {
  display: flex;
  align-items: center;
  span {
    margin-left: 6px;
    font-size: 16px;
    line-height: 2;
  }
}

.icon {
  font-size: 128px;
  width: 128px;
  height: 128px;
  font-weight: 100;
  color: #16bdff;
}


.contact-info {
  margin-top: 50px;
  opacity: .7;
  font-size: 18px;
}

