.surname {
  font-size: 48px;
  font-weight: 500;
}

.name {
  font-size: 16px;
  margin-left: 4px;
}

.name, .surname {
  margin-bottom: 6px;
}

.user-area {
  display: flex;
  //flex-direction: column;
  align-items: baseline;
  margin: 20px;
  border-bottom: 1px solid #e0e0e0;
  width: fit-content;
}
