:host {
  display: flex;
  width: 100%;
}

.label {
  font-size: 16px;
  font-weight: 500;
}

.patients {
  display: flex;
  flex-direction: column;
  margin: 0 auto 24px;
  max-height: 80%;
  padding: 12px;

  &__panel--qualified {
    background-color: rgba(95, 241, 110, 0.17);
  }


  .result {
    text-decoration: none;
    color: #000;
    background-color: transparent;
    transition: background-color .3s;
    border-radius: 8px;


    &:hover {
      background-color: rgba(22, 189, 255, 0.25);
    }

  }
}

.result {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px;
  border-bottom: 1px solid #e0e0e0;

  &:last-child {
    border-bottom: none;
  }
}

.patients-group {
  //width: 70%;
}

.patients-description {
  display: flex;
  justify-content: space-between;
  width: 100%;

}

.patients-container {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    margin-right: 12px;

    span {
      padding-top: 10px;
    }
  }
}

.specialization {
  display: flex;
  font-size: 18px;
}

//::ng-deep .mat-mdc-tab-group {
//  .inactive {
//    .mat-mdc-tab-nav-bar {
//      --mdc-tab-indicator-active-indicator-color: #000;
//      --mat-tab-header-active-hover-indicator-color: #000;
//    }
//
//  }
//}
