@if (answer$  | async; as question) {
  <div class="answer-details">
    <div class="answer-details__general general-info">
      <div class="general-info__date">
        <span class="general-info__label">Date of filling: </span>{{ question.date | date }}</div>
      <div class="general-info__avg">
        <span class="general-info__label">Average score: </span>{{ question.score }}</div>
    </div>
    <mat-divider />
    <div class="answer-details__content" content>
      <ul class="content__list">
        @for (answer of question.answers; track answer.id) {
          <li class="content__item">
            <div class="content__item__title">{{ answer.content }}</div>
            <div class="content__item__answer">{{ answer.answer }}</div>
          </li>
        }
      </ul>
    </div>
  </div>
} @else {
  <div class="answer-details__content">
    <div class="content__empty">No answer found</div>
  </div>
}
